@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: #00343d;
  font-family: sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
h1{

}
.sticky {
  position: sticky;
  top: 0;
  font-size: 20px;
}
.background-image {
  background-image: url("public/bg.webp");
  background-size: cover;
  background-position: center;
  filter: brightness(1) blur(5px);
  will-change: transform, opacity;

}
.image-list{
  min-width: 400px;
  min-height: 350px;
  max-height: 350px;
  max-width: 400px;
  margin: 20px;
  border: solid gray 2px;
  border-radius: 10px;
  overflow: hidden;
}
.image-cover {
  min-height: 60%;
  max-height: 60%;
  justify-self: center;
}
.text-cover{
  min-height: 40%;
}